<app-navbar></app-navbar>
<div class="main" style="background-image: url('assets/images/sonic.jpg');">
 <div class="overlay">
    <div class="container-md">
        <div class="row align-items-center content">
            <div class="col">
                <h1>Sonic Titulo1</h1>
                <p>8.5 <i class="fas fa-star"></i></p>
                <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatem placeat quia quisquam quam, fugit omnis sapiente consectetur esse facere itaque! Veritatis, aliquam cumque commodi incidunt asperiores aspernatur, officiis dicta voluptates quaerat, ea nam odio nostrum aliquid. Tempore earum maxime magni cum mollitia accusantium, placeat dicta doloribus quos deserunt tenetur Ab facilis, debitis </p>
                <div class="button mt-5">
                    <button class="btn-movie mt-3"><i class="fas fa-play me-2"></i> PLAY NOW</button>
                    <button class="btn-download ms-2 mt-3">Download <i class="fas fa-download"></i></button>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
