 
.main{
    background-color: #050a1e;
    min-height: 100vh;
}
.search-box{
    margin-top: -165px;
    height: 100vh;
}
.movies h1{
    color: white;
 
}
.movie{
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent; 
    box-shadow: -5px 6px 13px 6px #ffffff14;
}
.movie .card-body{
    border-radius: 30px;
    margin-top: -35px;
    background: linear-gradient(4deg, rgba(5,10,30,1) 0%, rgba(5,10,30,0.7791491596638656) 97%, rgba(5,10,30,0) 100%);
}
.movie .description{
    color: #aeb3c7;
}

.btn-movie{
    padding: 8px 30px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid #aeb3c7;
    border-radius: 20px;
    color: #aeb3c7;
    transition: 0.5s; 
}
.btn-movie:hover{
    border: 1px solid white; 
    color: white; 
}
.btn-download{
    padding: 8px 30px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid #b80505;
    border-radius: 20px;
    color: #b80505;
    font-weight: bold;
    transition: 0.5s;
}
.btn-ver{
    padding: 8px 30px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid #b80505;
    border-radius: 20px;
    color: #b80505;
    font-weight: bold;
    transition: 0.5s;
}
.btn-download:hover{
    border: 1px solid #db1717; 
    color: #db1717; 
}
.search-box{
    color: white;
}
.search-box h1{
    margin-bottom: 2rem;
    font-size: 45px;
}
.search-box p{
    margin-bottom: 2rem;
    font-size: 30px; 
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 3rem;
}
.search-input{
    background-color: transparent;
    height: 70px;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 30px;
    color: rgb(179, 179, 179); 
}
.search-input:focus{
    border: #b80505 !important;
}
.movie-description h1{
    font-size: 22px
}
.movie-description p{
    font-size: 1rem;
}