<app-navbar></app-navbar>
<div class="main m-0 position-relative">
    <div class="overlay-main"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="search col-12 sticky-top">
                    <div class="search-box d-flex align-content-between flex-wrap"> 
                         <div>
                            <h1 class="">Películas y una gran variedad de contenido</h1>
                            <p class="mt-5">Mira nuestra gran variedad de contenido y disfruta de todo lo que podemos ofrecer</p>
                            <input type="text" class="form-control mt-5 search-input">
                         </div>
                         <div class="text-center mb-3">
                             <span class="text-muted">All right reserved</span>
                         </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="movies mt-5 d-flex flex-wrap justify-content-center">
                    <div class="card movie col-md-8 mb-4">
                        <img src="./assets/images/sonic.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-white p-4">
                          <div class="d-flex justify-content-between">
                              <div>
                                <h5 class="card-title mb-0"><i class="fas fa-play"></i> Card title1</h5>
                                <p class="ms-4 mt-0">2h 28m</p>
                              </div>
                              <div>
                                  <p>8.5 <i class="fas fa-star"></i></p>
                              </div>
                          </div>
                          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button class="btn-movie mt-3">Movie Details</button>
                          <button class="btn-download ms-2 mt-3">Download <i class="fas fa-download"></i></button>
                        </div>
                      </div>
                      <div class="card movie col-md-8 mb-4">
                        <img src="./assets/images/sonic.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-white p-4">
                          <div class="d-flex justify-content-between">
                              <div>
                                <h5 class="card-title mb-0"><i class="fas fa-play"></i> Card title1</h5>
                                <p class="ms-4 mt-0">2h 28m</p>
                              </div>
                              <div>
                                  <p>8.5 <i class="fas fa-star"></i></p>
                              </div>
                          </div>
                          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button class="btn-movie mt-3">Movie Details</button>
                          <button class="btn-download ms-2 mt-3">Download <i class="fas fa-download"></i></button>
                        </div>
                      </div>
                      <div class="card movie col-md-8 mb-4">
                        <img src="./assets/images/sonic.jpg" class="card-img-top" alt="...">
                        <div class="card-body text-white p-4">
                          <div class="d-flex justify-content-between">
                              <div>
                                <h5 class="card-title mb-0"><i class="fas fa-play"></i> Card title1</h5>
                                <p class="ms-4 mt-0">2h 28m</p>
                              </div>
                              <div>
                                  <p>8.5 <i class="fas fa-star"></i></p>
                              </div>
                          </div>
                          <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <button class="btn-movie mt-3">Movie Details</button>
                          <button class="btn-download ms-2 mt-3">Download <i class="fas fa-download"></i></button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>